html {
  height: 100vh;
}
body {
  margin: 2rem;
  font-size: 1rem;
}

img {
  width: 75px;
}

.gradient {
  background: rgb(244, 244, 244);
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244, 1) 22%,
    rgba(219, 219, 219, 1) 43%
  );
}

.chat-messages {
  height: 80vh;
  overflow: auto;
  background-color: white;
  word-wrap: break-word;
  font-family: "Roboto Slab", serif;
}

.chat-height {
  height: 85vh;
  overflow: auto;
}

.user-menu {
  height: 60vh;
  width: 100%;
  overflow: auto;
}

.chat-form {
  width: 100%;
}

.font {
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 600px) {
  img {
    width: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 3000px) {
  body {
    margin: 3rem;
    font-size: 1.3rem;
  }
}
