body {
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 0;
  padding: 2rem 0.5rem 0 0.5rem;
}

img {
  width: 70%;
  height: auto;
}

.input-width {
  width: 50%;
}

.audio-width {
  width: 70%;
}

.footer-text {
  font-size: 0.7rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .audio-width {
    width: 90%;
  }

  .input-width {
    width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .audio-width {
    width: 50%;
  }

  .input-width {
    width: 35%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 5rem 2rem 0 2rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .audio-width {
    width: 50%;
  }

  .input-width {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 2rem 0.5rem 0 0.5rem;
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
  }

  .input-width {
    width: 25%;
  }
  .audio-width {
    width: 50%;
  }

  .desktop-view {
    width: 80%;
    padding-left: 20%;
  }
}

@media only screen and (min-width: 1680px) {
  body {
    padding: 3rem 2rem 0 2rem;
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
  }

  .input-width {
    width: 25%;
  }

  .audio-width {
    width: 50%;
  }

  .desktop-view {
    width: 60%;
    padding-left: 20%;
  }
}

@media only screen and (min-width: 3000px) {
  body {
    padding: 5rem 2rem 0 2rem;
    background-image: url("../media/background.jpg");
    background-repeat: no-repeat;
  }

  .input-width {
    width: 35%;
  }
  .audio-width {
    width: 50%;
  }

  .desktop-view {
    width: 40%;
    padding-left: 20%;
  }
}
